/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html {
  height: -webkit-fill-available;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
}

/* Set core body defaults */
body {
  margin: 0;
  height: -webkit-fill-available;
  background: black;
  color: white;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Apply cursor pointer to button elements */
button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
}

/* Correct the inability to style clickable types in iOS */
button {
  -webkit-appearance: button;
}

/* Remove focus outline */
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
  outline: none;
}

/* Remote anchor style */
a {
  color: white;
  text-decoration: none;
}

/* Remove tap highlight color */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Remove input search styling */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.App {
  padding: 24px 32px;
  display: flex;
  flex-flow: row wrap;
}

.App-group {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 24px;
  margin-right: 12px;
}

.App-link-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.App-link-github {
  background: white;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.App-link-github-icon {
  height: 16px;
}

.App-link {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 24px 8px 8px;
  background-size: 500% auto;
  border-top-right-radius: 48px;
}

.App-link-wrapper:not(:first-child) {
  border-top: 1px solid black;
}

.App-group:nth-child(10n + 1) .App-link {
  background: linear-gradient(to right, #ff512f, #dd2476);
}

.App-group:nth-child(10n + 2) .App-link {
  background: linear-gradient(to right, #a8ff78, #78ffd6);
}

.App-group:nth-child(10n + 3) .App-link {
  background: linear-gradient(to right, #f5af19, #f12711);
}

.App-group:nth-child(10n + 4) .App-link {
  background: linear-gradient(to right, #78ffd6, #007991);
}

.App-group:nth-child(10n + 5) .App-link {
  background: linear-gradient(to right, #ffc371, #ff5f6d);
}

.App-group:nth-child(10n + 6) .App-link {
  background: linear-gradient(to right, #fdfc47, #24fe41);
}

.App-group:nth-child(10n + 7) .App-link {
  background: linear-gradient(to right, #f4c4f3, #fc67fa);
}

.App-group:nth-child(10n + 8) .App-link {
  background: linear-gradient(to right, #a5fecb, #20bdff, #5433ff);
}

.App-group:nth-child(10n + 9) .App-link {
  background: linear-gradient(to right, #e100ff, #7f00ff);
}

.App-group:nth-child(10n + 10) .App-link {
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
}

.App-iframe {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
}
